* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


header {
    width: 1440px;
    height: 128px;
    background-color: #E76C1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero__content {
    width: 1440px;
    height: 508px;
    top: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero--img {
    width: 1440px;
    height: 508px;
    top: 59px;
    object-fit: cover;
}

.hero--text {
    width: 872px;
    height: 104px;
    top: 654px;
    left: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: black;
    text-align: center;
}

.burger-pinwand-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    

}

.burger-pinwand-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 13px solid #E76C1F;
    object-fit: cover;
}

.main-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;

}

.footer-Bapp {
    margin-top: 40px;
    padding: 20px;
    width: 1440px;
    text-align: center;
    background-color: #E76C1F;
    color: white;
}