#main_content {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper_container {
    max-width: 1960px;
    margin: auto
}

h1 {
    background-color: bisque;
}

.basket_article_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.header_content {
    background-color: var(--farbe-hintergrund);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 93px;
    top: 0;

    z-index: 2000;
    /*  first level line  */
}


.logo_img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.navi {
    width: 100%;
    min-height: 80px;
    display: flex;
    margin-right: 44px;
    align-items: center;
    justify-content: flex-end;

    color: white;
}

.navi ul {
    display: flex;
}

.navi ul li {
    height: 100%;
    padding: 30px;
}


.navi ul li a {
    color: white;
    padding: 10px;
    background-color: orange;
    border-radius: 10px;
    border: 3px solid white;
    color: rgb(43, 42, 42);
    transition: all 150ms ease-in;
}

.navi ul li a:hover {
    background-color: rgba(255, 166, 0, 0.476);
    border: 3px solid rgba(230, 159, 17, 0.394);
}



.toggle_button {
    margin-bottom: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 3000;
}

.toggle_button .bar {
    height: 4px;
    width: 100%;
    background-color: rgb(203, 141, 15);
    border-radius: 2px;
    transition: all 0.3s ease;
}


@media(max-width:850px) {
    .toggle_button {
        display: flex;
    }

    .navi {
        flex-direction: column;
        align-items: center;
        /* zentriert das Logo und den Button */
        padding-top: 20px;
    }

    .navi ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }


    .list_container {
        background-color: grey;
        display: none;
        flex-direction: column;
        align-items: center;
        /* ✅ zentriert die Menüeinträge */
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        padding: 10px 0;
        position: absolute;
        top: 93px;
        /* Höhe deines festen Headers */
        left: 43%;
        transform: translateX(-50%);
        background-color: var(--farbe-hintergrund);
        z-index: 1500;
        /* liegt über dem Content, unter dem Header */
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .list_container ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .list_container.active {
        display: flex;
    }

    .list_container li {

        text-align: center;
        width: 100%;
    }
}

.login_box {
    margin-right: 30px;
}

.title_dishes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.bg_img {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/pics/hero.jpg);
    background-size: cover;
    background-position: center;
    /* Zeigt die obere Hälfte */
    background-repeat: no-repeat;
    margin-top: 6%;
}


footer {
    display: var();
    background-color: var(--farbe-hintergrund);
    height: 74px;
    width: 100%;

}

.logo_img_footer {

    max-width: 140px;
    width: 100%;
    height: auto;

}