body {
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
    background: #fafafa;
    color: #222;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
}


header {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: rgba(231, 108, 31, 1);
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 16px auto;
    padding: 0 16px;
}

.footer-Bapp {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    background-color:rgba(231, 108, 31, 1);
    color: white;
}


@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }
}