/* Body Standards */
:root {

    --farbe-hintergrund: #fdf6e3fd;
    --farbe-hintergrund2: #e6dfb7;
    --farbe-shoppingBAsket: #e6d8cb;
    --color_whit: white;

    /* fonts */
    --main-font: 'InterCustom', sans-serif;
}

* {
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--main-font);
background-color: var(--farbe-hintergrund);
}

.standard_display_gap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.standard_border_radius {
    border-radius: 5px;
}

.seperateur {
    width: 100%;
    height: 10px;
    border-top: 3px solid black;
    background-color: lightgray;
    /* nur zum Testen sichtbar */
}